pipeline/GetNewOrderDyPiple.json
{
	"name": "GetNewOrderDyPiple",
	"properties": {
		"description": "This pipeline will get dynamically order information",
		"activities": [
			{
				"name": "OrderDateQueryVarHolder",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DyQueryVar",
					"value": {
						"value": "\n SELECT  [ContactName],\n\t\t concat([Address],[City],\n\t\t [Region],[Country]) as Address, \n\t\t (d.[UnitPrice] *d.[Quantity]) as Total \n FROM dbo.customers c \n iNNER JOIN [dbo].[Orders] o ON c.[CustomerID] = o.[CustomerID]\n INNER JOIN [dbo].[Order Details] d ON o.[OrderID]= d.[OrderID]\n where [OrderDate]>=  CAST('@{adddays(utcnow(),1000)}' as DATETIME2)\n group by [ContactName],[Address],[City],[Region],[Country], [UnitPrice],[Quantity]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "OrderDateQueryVarHolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@variables('DyQueryVar')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CustomerTabledataPuller",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"DyQueryVar": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-04-14T21:32:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}